---
extension: css
layout:    nil
---
    /* Disqus Hackery
 * --------------------------------------------------------------------- */
div#dsq-popup-profile
  :left: 0 !important

.dsq-by
  :display none

#disqus_thread #dsq-content h3
  :font-weight normal !important
  :margin 0 0 18px 0 !important
}
#dsq-content #dsq-options-toggle
  :display none

#dsq-content #dsq-comments .dsq-comment-rate
  :display none

#disqus_thread #dsq-content #dsq-comments .dsq-comment-header
  :position absolute
  :text-align right !important
  :width 190px
  :padding-right 10px
  :margin 0px 0 0 -200px

#disqus_thread #dsq-content #dsq-comments .dsq-comment { border: 0;}
#disqus_thread #dsq-content #dsq-comments .dsq-comment .dsq-comment-footer {display: none;}

/* Comment Attribution */
#disqus_thread #dsq-content #dsq-comments .dsq-comment {position: relative;}
#disqus_thread #dsq-content #dsq-comments .dsq-comment-header cite {float: right;}
#disqus_thread #dsq-content #dsq-comments .dsq-comment-header .icon-adjust {display:none;}
#disqus_thread #dsq-content #dsq-comments .dsq-comment-header .dsq-header-meta {clear: right; float: right; color: #999;}

#disqus_thread#dsq-content #dsq-comments a.dsq-header-time {
  color:#999;
  margin:0;
}

#disqus_thread #dsq-content #dsq-comments .dsq-comment-header {
  height:36px;
  line-height:18px;
}


#disqus_thread #dsq-content #dsq-comments .dsq-comment-body {
  font-size: 12px;
  line-height: 18px;
  margin-top: 0;
}

#dsq-content #dsq-comments .dsq-comment-body a {
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

#disqus_thread #dsq-content #dsq-comments .dsq-comment.dsq-moderator .dsq-comment-header cite {
	background: #FFFFDD;
}

