---
filter: haml
---
#disqus_thread

%script{:type => "text/javascript", :src => "http://disqus.com/forums/hiperkocka/embed.js"}
%noscript
  = link_to "Hozzászólások megtekintése", "http://hiperkocka.disqus.com/?url=ref"
